<div class="absolute top-[570px]
         flex items-center justify-center w-full gap-2">


  <!--  Jackpot Box -->
  <div class="flex flex-col items-center justify-center bg-gradient-to-br from-[#1a1a1a] to-[#0f0f0f]
  rounded-lg px-2 py-2 text-center
  w-[40%] h-[45px]
  border border-white/10 flex-shrink-0">

    <p
      class="text-[#ffcc33] font-semibold text-[8px] font-[Geologica] tracking-tight m-0">
      TOTAL SPIN JACKPOT
    </p>
    <p class="text-white text-xl font-semibold font-[Geologica] m-0">
      {{ getJackpotAmount() }}
    </p>
  </div>

  <!--  Winner Box -->
  <div class="flex items-center justify-center gap-1 bg-gradient-to-br from-[#1a1a1a] to-[#0f0f0f]
           rounded-lg px-1 py-1 shadow-[0_0_15px_rgba(0,0,0,0.7)] border border-white/5
           h-[55px] overflow-hidden relative
           w-[40%] flex-shrink-0">

    <!-- Previous Winner -->
    <div class="flex flex-col items-center" id="winnerList">
      <div id="two"
        class="flex items-center gap-1 opacity-50 absolute bottom-[53px] transition-opacity duration-500">
         <img src="assets/images/svg9.png" alt="" class="w-[20px] h-[20px]">
        <div>
          <p class="text-white text-[13px] font-semibold font-[Geologica] m-0">GamerX1234****
          </p>
          <p class="text-[#ffcc33] text-[13px] font-semibold font-[Geologica] m-0">won
            ₱276,000.00</p>
        </div>
      </div>

      <!-- Current Winner -->
      <div id="one" class="flex items-center gap-1">
        <img src="assets/images/svg9.png" alt=""
          class="w-[20px] h-[20px]">
        <div>
          <p class="text-white text-[13px] font-semibold font-[Geologica] m-0">
            GamerX1234****
          </p>
          <p class="text-[#ffcc33] text-[13px] font-semibold font-[Geologica] m-0">won
            ₱276,000.00</p>
        </div>
      </div>

      <!-- Next Winner -->
      <div id="tree"
        class="flex items-center gap-1 opacity-50 absolute top-[53px] transition-opacity duration-500">
        <img src="assets/images/svg9.png" alt=""
          class="w-[20px] h-[20px]">
        <div>
          <p class="text-white text-[13px] font-semibold font-[Geologica] m-0">
            GamerX1234****
          </p>
          <p class="text-[#ffcc33] text-[13px] font-semibold font-[Geologica] m-0">won
            ₱276,000.00</p>
        </div>
      </div>

    </div>
  </div>
</div>
